.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}
.signUp_light {
  background-color: #f9f9f9;
  color: #333;
}
.signUp_dark {
  background-color: #2e2e2e;
  color: #fff;
}
.signUp_formContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.signUp_dark .signUp_formContainer {
  background-color: #333;
  color: #fff;
}
.SignUp_inputContainer {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}
.signUp_dark .signUp_form input {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}
.signUp_dark .signUp_select select {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}
.SignUp_buttons {
  width: 30%;
  justify-content: center;
  display: flex;
  justify-self: center;
}

@media (max-width: 768px) {
  .signUp_formContainer {
    padding: 20px;
  }

  .signUp_form input {
    font-size: 14px;
  }
}
