.DatabaseSelect_container {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}
.DatabaseSelect_button {
  width: 10%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 1%;
}

.DatabaseSelect_container h1 {
  margin: 0;
}

.DatabaseSelect_selector {
  width: 15%;
  justify-self: center;
  color: #333;
}

.DatabaseSelect_container.dark {
  background-color: #2e2e2e;
  color: #f1f1f1;
}

.DatabaseSelect_container h2 {
  font-size: 24px;
  color: #333;
}
.DatabaseSelect_input {
  margin: 1%;
  margin-bottom: 2%;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 25%;
  height: 4%;
}

.DateInput {
  display: flex;
  justify-self: center;
  text-align: center;
  font-weight: bold;
  height: 5%;
}

@media (max-width: 768px) {
  .DatabaseSelect_button {
    min-height: 5%;
    min-width: 30%;
  }
  .DatabaseSelect_container {
    width: 100%;
  }
  .DatabaseSelect_selector {
    width: 54%;
    justify-self: center;
    color: #333;
  }
}
