.Report_table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: center;
  justify-self: center;
  font-family: "Cairo", "Tahoma", sans-serif;
  font-size: 15px;
  direction: rtl;
  color: white;
}

.Report_table th {
  transition: color 0.3s ease;
  background-color: #ff7b00;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Report_table td {
  border: 1px solid #ccc;
  padding: 8px;
  background-color: #1e1e1e;
  vertical-align: middle;
}

.Report_table td:hover {
  background-color: #555;
  cursor: pointer;
}

.Report_table.dark th {
  background-color: #c76824;
}

.Report_table tr.selected-row {
  background-color: #cce5ff;
  transition: background-color 0.3s ease;
}

.Report_table.dark tr.selected-row {
  background-color: #334d66;
}

.Report_button {
  width: 10%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 0.5%;
}

.Report_chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Report_chart.dark {
  background-color: #2e2e2e;
}

.Date_title {
  display: flex;
  justify-content: center;
}

.negative {
  background-color: red;
}

.Report_Selector {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 768px) {
  .Report_button {
    min-height: 30%;
    min-width: 50%;
  }
  .Report_table {
    min-width: 14%;
  }
}
