.Report_table {
  width: 80%;
  border: 1px solid #ccc;
  text-align: start;
  justify-self: center;
}

.Report_table th {
  transition: color 0.3s ease;
  background-color: #66bb6a;
  border: 1px solid #ccc;
  color: white;
  font-size: large;
  font-weight: bold;
}

.Report_tableWrapper {
  max-height: calc(10 * 50px);

  overflow-y: auto;
}

/* Optional: fix table header to stay at the top while scrolling */
.Report_table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.Report_table td {
  border: 1px solid #ccc;
}

.Report_table td:hover {
  background-color: #8a8a8a;
}

.Report_table.dark th {
  background-color: #c76824;
}

.Report_table tr.selected-row {
  background-color: #cce5ff; /* light blue background */
  transition: background-color 0.3s ease;
}

.Report_table.dark tr.selected-row {
  background-color: #334d66; /* darker blue for dark mode */
}

.Report_button {
  width: 10%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 0.5%;
}

.Report_chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Report_chart.dark {
  background-color: #2e2e2e;
}
.Date_title {
  display: flex;
  justify-content: center;
}

.negative {
  background-color: red;
}
.Report_Selector {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 768px) {
  .Report_button {
    min-height: 30%;
    min-width: 50%;
  }
  .Report_table {
    min-width: 14%;
  }
}
