/* Default SignIn Styling */
.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;

  box-sizing: border-box;
}

/* Light Mode */
.signIn_light {
  background-color: #f9f9f9;
  color: #333;
}

/* Dark Mode */
.signIn_dark {
  background-color: #2e2e2e;
  color: #fff;
}

/* Form Container */
.signIn_formContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode for Form Container */
.signIn_dark .signIn_formContainer {
  background-color: #333;
  color: #fff;
}

/* Form Heading */
.signIn_formContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #4caf50; /* Green major color */
}

/* Form */
.signIn_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.signIn_form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

/* Dark Mode Input */
.signIn_dark .signIn_form input {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

.signIn_form input:focus {
  outline: none;
  border-color: #4caf50; /* Green focus border */
}

.signIn_buttons {
}

/* Responsive Design */
@media (max-width: 768px) {
  .signIn_formContainer {
    padding: 20px;
  }

  .signIn_form input {
    font-size: 14px;
  }

  .signIn_form button {
    font-size: 14px;
  }
}
