.DatabasetoUser_container {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}
.DatabasetoUser_button {
  width: 13%;
  height: 7%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  justify-self: center;
}
.DatabasetoUser_container h1 {
  margin: 0;
}

.DatabasetoUser_container.dark {
  background-color: #2e2e2e;
  color: #f1f1f1;
}

.DatabasetoUser_container h2 {
  font-size: 24px;
  color: #333;
}

.DatabasetoUser_input {
  margin: 1%;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 25%;
  height: 4%;
}
.DatabasetoUser_Selector {
  width: 15%;
  justify-self: center;
}
@media (max-width: 768px) {
  .DatabasetoUser_button {
    min-height: 5%;
    min-width: 50%;
  }

  .DatabasetoUser_input {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 90%;
    height: 4%;
  }
  .DatabasetoUser_Selector {
    width: 54%;
    justify-self: center;
    color: #333;
  }
}
